body{
    background: linear-gradient(rgb(211, 211, 211, 0.1), rgb(211, 211, 211, 0.1)), url(image.png);
    background-size: cover;
    background-position:center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-left{
    background: rgba(255, 60, 60, 0.795);
    padding: 30px;   
}

.login-right{
    background: #ffd6d6d0;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}

.image_box{
    position: relative;
    top: 0px;
    left: 250px;
    font-family: 'Exo', sans-serif;
	font-size: 60px;
	font-weight: 400;
}